.aui-admin-moderation-button {
  width: 40px;
  height: 40px;
  background-color: var(--admin-white);
  border: 0;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.aui-admin-moderation-button_save {
  background-image: url('./aui-admin-moderation-button_save.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #028dd8;
}
.aui-admin-moderation-button_accept {
  background-image: url('./aui-admin-moderation-button_accept.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.aui-admin-moderation-button_postpone {
  background-image: url('./aui-admin-moderation-button_postpone.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.aui-admin-moderation-button_decline {
  background-image: url('./aui-admin-moderation-button_decline.svg');
  background-position: center;
  background-repeat: no-repeat;
}
